Django
psycopg2-binary
celery[redis]
Markdown
djangorestframework
pymemcache
django-filter

dj-database-url

djangorestframework-simplejwt
gunicorn
uvicorn

django-celery-beat
django-celery-results
drf-spectacular
